*.class
*.war
*.ear
*.jar

*.log
*.tmp
*.bak
*.swp
*.swo

.DS_Store
*.iml
*.iws
*.ipr
.idea/
oepe-plugins/
oepe-cache/
workspace/

*.jws
*.jpr
*.jpx
*.jpx.xml
*.tld
*.policy
*.jpxdata
*.jpxdata.xml
*.jtr
*.jdb
*.state
*.jws.lock
*.deploy
*.tmp.deploy*
*.deployed
*.autodeploy
*.wlnotdelete
*.ear
*.war
*.log

*.out
*.wlcompile
*.wlsettings
*.work
*.data
*.cache
*.history
*.lock

target/
build/
.gradle/
.mvn/
*.classpath
*.project
*.settings/

.env
.env.local
.env.development
.env.production


# default application storage directory used by the IDE Performance Cache feature
.data/

# used for ADF styles caching
temp/

# default output directories
classes/
deploy/
javadoc/

# lock file, a part of Oracle Credential Store Framework
cwallet.sso.lck
